.navbar {
  background-color: #ECF2F9;
  margin: auto;
  height: 80px;
  align-items: center;
}

.logo-container {
  margin-right: auto; /* Ensures the logo stays at the start */
}

.logo-image {
  height: 100px; 
  width: auto;
}

.nav-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.elements {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-center .nav-link {
  margin: 0 20px;
  font-family: 'inknut antiqua';
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.Link{
  text-decoration: none;
}
.a{
  text-decoration: none;
}

.nav-center .nav-link:hover {
  text-decoration: underline;
  color: #007bff; 
}

.getstarted {
  font-family: 'inknut antiqua';
  border-radius: 0px;
  margin-right: 1px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.getstarted:hover{
  text-decoration: underline;
  color: #007bff; 
}

.profile-container {
  margin-left: 10px; /* Decreased margin */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
