.new-property-seller-list {
    margin-top: 20px;
}

.new-property-seller-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.new-property-seller-img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

.new-property-seller-details {
    display: block;
}

.new-property-seller-details h1 {
    margin-left: 30px;
    margin-top: 40px;
    text-align: left;
    color: black
}

.new-property-seller-details p, .new-property-seller-details h3 {
    margin-left: 30px;
    text-align: left;
    font-size: 25px;
}

.new-property-seller-item .btn {
    width: 150px;
    border-radius: 0px;
    height: 55px;
    margin-left: 850px;
    margin-top:60px;
}
.new-property-seller-item .btn2 {
    width: 150px;
    border-radius: 0px;
    height: 55px;
    margin-left: 20px;
    margin-top:60px;
    background-color: white;
    border: 1px solid red;
    color: red;
}